	<tr>
      <td height="24" align="center" bgcolor="#FFFFFF"   scope="row"><input name="field[]" type="checkbox" value="{field}" checked></td>
      <td height="24" align="center" bgcolor="#FFFFFF" class="font2"   scope="row">{field_id}</td>
      <td height="24" align="left" bgcolor="#FFFFFF" class="font2"  scope="row">&nbsp;{field}</td>
      <td height="24" align="center" bgcolor="#FFFFFF" class="font2""   scope="row"><input name="{field}" type="text" id="host"  onfocus="getActiveText(this)" onclick="getActiveText(this)" onchange="getActiveText(this)" value="{fieldvalue}"></td>
    </tr>