<tr>
    <td width="60" height="20"align="center" bgcolor="#EBEBEB" class="font2" scope="row"><strong>标题</strong></td>
    <td bgcolor="#FCFCFC" class="font2" scope="row">&nbsp;{title}</td>
    <td align="center" bgcolor="#FCFCFC">&nbsp;</td>
  </tr>
  <tr>
    <td width="60" height="20" align="center" bgcolor="#EBEBEB" class="font2" scope="row"><strong>地址</strong></td>
    <td width="572" bgcolor="#FCFCFC" scope="row"><a href="{url1}" target="_blank" class="font2">&nbsp;{url1}</a></td>
    <td width="60" align="center" bgcolor="#FCFCFC"><a href="getcontent.php?url={url}&&cid={cid}" class="font2">提取内容</a></td>
  </tr>