<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>系统公告 小蜜蜂文章/图片/BBS/Flash采集系统 Power by DownReg.COM</title>
<link href="style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(images/bg.gif);
}
-->
</style></head>

<body>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table border='0' cellpadding='1' cellspacing='1' align='center' class="tableborder">
      <tr>
        <td width="100%" colspan="5" align="center" nowrap class="biaoti30">小蜜蜂采集器(BC)：文章、BBS、Flash采集利器</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="700"  border="0" align="center" cellpadding="0" cellspacing="0" background="images/title_bar_middle.jpg" bgcolor="#DEDFDE">
  <tr>
    <td width="12" height="28"><img src="images/title_bar_left.jpg" width="12" height="28"></td>
    <td width="110" align="center"><a href="module.php" class="font1">文章采集模块</a></td>
    <td width="3" align="center"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="110" align="center"><a href="module.php?module=bbs" class="font1">BBS采集模块</a></td>
    <td width="3" align="center"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="110" align="center"><a href="module.php?module=flash" class="font1">FLASH采集模块</a></td>
    <td width="3" align="center"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="110" align="center"><a href="help.php" class="font1">使用帮助</a></td>
	<td width="7" align="center"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="110" align="center"><a href="optimize.php" class="font1" onclick="return confirm('使用该功能会清空/复位message、update表数据，需关闭采集任务后使用。确认要使用吗？')">数据库优化</a></td>
    <td width="3" align="center"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="110" align="center"><a href="admin.php?action=login_out" class="font1">退出系统</a></td>
    <td width="12"><img src="images/title_bar_right.jpg" width="12" height="28"></td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10" bgcolor="#FFFFFF" scope="row"></td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" widtd="600">
  <tr>
    <td width="574" height="28" align="center" background="images/title_bar_middle.jpg" scope="row"><span class="font1">系统公告</span></td>
    <td width="126" align="center" background="images/title_bar_middle.jpg" scope="row"><span class="font1">当前版本：V1.928</span></td>
  </tr>
  
  {link}
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr>
    <td height="25" align="left" bgcolor="#FFFFFF" class="k_all" scope="row"><span class="font2">{content}</span></td>
  </tr>
</table>

