<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>FLASH采集模块：测试提取内容列表 小蜜蜂文章/图片/BBS/Flash采集系统 Power by DownReg.COM</title>
<link href="style.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(images/bg.gif);
}
-->
</style></head>

<body>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table border='0' cellpadding='1' cellspacing='1' align='center' class="tableborder">
      <tr>
        <td width="100%" colspan="5" align="center" nowrap class="biaoti30">小蜜蜂采集器(BC)：文章、BBS、Flash采集利器</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="700"  border="0" align="center" cellpadding="0" cellspacing="0" background="images/title_bar_middle.jpg" bgcolor="#DEDFDE">
  <tr>
    <td width="12" height="28"><img src="images/title_bar_left.jpg" width="12" height="28"></td>
    <td width="133" background="images/title_bar_middle.jpg" bgcolor="#FFFFFF"><div align="center"><a href="../login.php?action=system" class="font1">首　页</a></div></td>
    <td width="7"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="133" background="images/title_bar_middle.jpg" bgcolor="#FFFFFF"><div align="center"><a href="showweb.php" class="font1">站点列表</a></div></td>
    <td width="3"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="133"><div align="center"><a href="category.php" class="font1">添加站点</a></div></td>
    <td width="3"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="133"><div align="center"><a href="help.php" class="font1">使用帮助</a></div></td>
    <td width="3"><img src="images/title_bar_grid.jpg" width="3" height="28"></td>
    <td width="133"><div align="center"><a href="admin.php?action=login_out" class="font1">退出系统</a></div></td>
    <td width="12"><img src="images/title_bar_right.jpg" width="12" height="28"></td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FCFCFC">
  <tr>
    <td height="20" scope="row"></td>
  </tr>
</table>
<table width="700" border="00" align="center" cellpadding="0" cellspacing="1" widtd="600">
  <tr >
    <td background="images/title_bar_middle.jpg" height="24" colspan="6" align="center" class="k_all" scope="row"><span class="font1">测试内容</span></td>
  </tr>
  <tr bgcolor="#EBEBEB">
    <td height="30" align="center" bgcolor="#EBEBEB" class="k_all" scope="row"><span class="font2">文章标题</span></td>
    <td height="24" align="center" bgcolor="#EBEBEB" class="k_all" scope="row"><span class="font2">&nbsp;{title}</span></td>
    <td height="30" align="center" bgcolor="#EBEBEB" class="k_all" scope="row"><span class="font2">采集时间</span></td>
    <td height="30" align="center" bgcolor="#EBEBEB" class="k_all" scope="row"><span class="font2">&nbsp;{time}</span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td height="600" colspan="4" align="center" class="k_all" scope="row"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="500" height="500">
      <param name="movie" value="{flash}">
      <param name="quality" value="high">
      <embed src="{flash}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="500" height="500"></embed>
    </object></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td height="20" colspan="4" align="center" background="images/title_bar_middle.jpg" class="k_all" scope="row"><span class="font1">动画简介</span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td height="20" colspan="4" class="k_all" scope="row"><span class="font2">&nbsp;{content}</span></td>
  </tr>
  <tr bgcolor="#EBEBEB">
    <td height="24" colspan="4" align="center" bgcolor="#EBEBEB" class="k_all" scope="row"><span class="font2">动画说明</span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td width="83" height="20" align="center" class="k_all" scope="row"><span class="font2">动画来源</span></td>
    <td width="323" height="24" class="k_all" scope="row"><span class="font2">&nbsp;{sourse}</span></td>
    <td width="93" align="center" class="k_all" scope="row"><span class="font2">动画作者</span></td>
    <td align="center" class="k_all" scope="row">　<span class="font2">&nbsp;{author}</span></td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FCFCFC" class="k_noup">
  <tr>
    <td height="80"><div align="center">
      <table width="500" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="9" height="40" align="center" valign="middle" background="images/bg2_l.gif">&nbsp;</td>
          <td width="25" align="center" valign="middle" background="images/bg2_m.gif"><img src="images/arrow_l.gif" alt="1" width="23" height="23" /></td>
          <td align="center" valign="middle" background="images/bg2_m.gif" bgcolor="#FCFCFC"><div align="center" class="font2"><a href="http://bbs.downreg.com/index.php?gid=19" class="font2">BUG反馈、功能建议、使用帮助、商业合作 请访问 BC 官方技术支持论坛</a></div></td>
          <td width="25" align="center" valign="middle" background="images/bg2_m.gif"><img src="images/arrow_r.gif" alt="1" width="23" height="22" /></td>
          <td width="9" align="center" valign="middle" background="images/bg2_r.gif">&nbsp;</td>
        </tr>
      </table>
    </div></td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="28" background="images/title_bar_middle.jpg">&nbsp;</td>
  </tr>
</table>
</body>
</html>

