	<tr>
      <td height="28" colspan="4" align="center" bgcolor="#C5C5C5" class="font2" scope="row" widtd="129"><input type="hidden" name="table_name[]" value="{table_name}">{table_name}</td>
    </tr>
    <tr>
      <td width="83" height="28" align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">操作</td>
      <td width="30" align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">ID</td>
      <td width="343" align="left" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;字段名</td>
      <td width="236" align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">对应字段</td>
    </tr>
    {fieldRow}