<tr>
      <td align="center" bgcolor="#FFFFFF" scope="row" widtd="129"><input type="checkbox" name="field[]" value="{field}" {check}></td>
      <td align="center" bgcolor="#FFFFFF" nowrap="nowrap" class="font2" scope="row" widtd="129">{field_id}</td>
      <td height="20" align="left" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;{field}</td>
      <td height="20" align="left" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;{type}</td>
      <td height="20" align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">{isnull}</td>
      <td align="center" bgcolor="#FFFFFF" class="font2" widtd="465">{key}</td>
      <td align="center" bgcolor="#FFFFFF" class="font2" widtd="465">{default}</td>
      <td align="center" bgcolor="#FFFFFF" class="font2" widtd="465">{extra}</td>
</tr>