<tr>
    <td width="60" height="30"align="center" bgcolor="#EBEBEB" class="font2" scope="row"><strong>标题</strong></td>
    <td bgcolor="#FCFCFC" class="font2" scope="row">&nbsp;{title}</td>
    <td width="90" rowspan="3" align="center" bgcolor="#FCFCFC" class="font2" scope="row"><img name="" src="{imglink}" width="85" height="85" alt=""></td>
    <td width="62" rowspan="3" align="center" bgcolor="#FCFCFC"><a href="getcontent.php?url={url}&&cid={cid}" class="font2">提取内容</a></td>
  </tr>
  <tr>
    <td width="60" height="30" align="center" bgcolor="#EBEBEB" class="font2" scope="row"><strong>地址</strong></td>
    <td width="483" bgcolor="#FCFCFC" scope="row">&nbsp;<a href="{url1}" target="_blank" class="font2">{url1}</a></td>
  </tr>
  <tr>
    <td height="30" align="center" bgcolor="#EBEBEB" class="font2" scope="row"><strong>图片</strong></td>
    <td bgcolor="#FCFCFC" scope="row">&nbsp;<a href="{imglink}" class="font2">{imglink}</a></td>
  </tr>