<title>FLASH采集模块：添加规则 小蜜蜂文章/图片/BBS/Flash采集系统 Power by DownReg.COM</title>
<script language="JavaScript" type="text/JavaScript">
<!--
function checkForm(){ 
  if(cid.selected.value==null){
    alert("必须要选择一个站点,如果不存在的话请添加一个之后在添加规则");
	return false;
	}
	if(out_url.value==null){
	alert("必须填写URL");
	return false;
	}
	if(linkid.value==null){
	alert("必须填写连接规则");
	return false;
	}
}
currObj = "uuuu";
function getActiveText(obj)
{
	currObj = obj;
}

function addTag(code)
{
	addText(code);
}

function addText(ibTag)
{
	var isClose = false;
	var obj_ta = currObj;

	if (obj_ta.isTextEdit)
	{
		obj_ta.focus();
		var sel = document.selection;
		var rng = sel.createRange();
		rng.colapse;

		if((sel.type == "Text" || sel.type == "None") && rng != null)
		{
			rng.text = ibTag;
		}

		obj_ta.focus();

		return isClose;
	}
	else
		return false;
}	
//-->
</script>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-bottom: 0px;
}
-->
</style>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table border='0' cellpadding='1' cellspacing='1' align='center' class="tableborder">
      <tr>
        <td width="100%" colspan="5" align="center" nowrap="nowrap" class="biaoti30">小蜜蜂采集器(BC)：文章、BBS、Flash采集利器</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="700"  border="0" align="center" cellpadding="0" cellspacing="0" background="images/title_bar_middle.jpg" bgcolor="#DEDFDE">
  <tr>
    <td width="12" height="28"><img src="images/title_bar_left.jpg" alt="2" width="12" height="28" /></td>
    <td width="133" background="images/title_bar_middle.jpg" bgcolor="#FFFFFF"><div align="center"><a href="../login.php?action=system" class="font1">首　页</a></div></td>
    <td width="7"><img src="images/title_bar_grid.jpg" alt="2" width="3" height="28" /></td>
    <td width="133" background="images/title_bar_middle.jpg" bgcolor="#FFFFFF"><div align="center"><a href="showweb.php" class="font1">站点列表</a></div></td>
    <td width="3"><img src="images/title_bar_grid.jpg" alt="2" width="3" height="28" /></td>
    <td width="133"><div align="center"><a href="category.php" class="font1">添加站点</a></div></td>
    <td width="3"><img src="images/title_bar_grid.jpg" alt="2" width="3" height="28" /></td>
    <td width="133"><div align="center"><a href="help.php" class="font1">使用帮助</a></div></td>
    <td width="3"><img src="images/title_bar_grid.jpg" alt="1" width="3" height="28" /></td>
    <td width="133"><div align="center"><a href="admin.php?action=login_out" class="font1">退出系统</a></div></td>
    <td width="12"><img src="images/title_bar_right.jpg" alt="2" width="12" height="28" /></td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10" bgcolor="#FFFFFF" scope="row"></td>
  </tr>
</table>
<form action="admin.php?action=setRuler" method="post" name="form1" metdod="post">
  <table width="700" height="1000" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#615E81" class="k_no_-19" widtd="600">
    <tr>
      <td height="28" colspan="3" align="center" background="images/title_bar_middle.jpg" scope="row"><span class="font1">文章分类</span></td>
    </tr>
    <tr>
      <td width="79" align="center" bgcolor="#EBEBEB" class="font2" scope="row">站点</td>
      <td width="127" height="24" align="center" bgcolor="#FCFCFC" class="font2">  {cname}          </td>
      <td width="486" bgcolor="#FCFCFC">　　<span class="font2">栏目:</span>        <select name="cid" class="k_all-font" id="select">
      <option value="0">请选择</option>
      {option}   
      </select></td>
    </tr>
    <tr align="center">
      <td height="28" colspan="3" background="images/title_bar_middle.jpg" scope="row"><span class="font1">文章列表</span></td>
    </tr>
    <tr>
      <td align="center" bgcolor="#EBEBEB" class="font2" scope="row">URL</td>
      <td colspan="2" bgcolor="#FCFCFC"><br>

          　<span class="font2">一条特殊的URL</span> 
        <input name="out_url_only" type="text" class="k_all-font" id="out_url_only" size="44">
          <br>
          <br>
          <br>
          　<span class="font2">多条特殊的URL</span> 
        <textarea name="out_url_many" cols="44" rows="5" class="k_all-font" id="out_url_many"></textarea>          
          <br>
          <br>
          <br>
          　<span class="font2">有规律的URL</span>　 
          <input name="out_url" type="text" class="k_all-font" id="out_url" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)" size="44">
          <br>
          <br>
        　<span class="font2">参数从</span>
        <input name="out_low" type="text" class="k_all-font" id="out_low" size="2">
          <span class="font2">到</span>
        <input name="out_upp" type="text" class="k_all-font" id="out_upp" size="2"> 
        <span class="font2">可用标签:</span><FONT class="font2" style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></FONT> <br>
      </p>      </td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">连接</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC"><span class="font2">　可用标签:</span><font class="font2" style="CURSOR: hand" onclick="addTag('[link]')" alt="插入[连接]标签"><strong>[链接]</strong></font> <font class="font2" style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></font> <font class="font2" style="CURSOR: hand" onclick="addTag('[title]')" alt="插入[标题]标签"><strong>[标题]</strong></font> <font class="font2" style="CURSOR: hand" onclick="addTag('[imglink]')" alt="插入[图片地址]标签"><strong>[图片地址]</strong></font></td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　<textarea name="linkid" cols="60" rows="5" class="k_all-font" id="linkid" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)"></textarea>
        <span class="font2">间隔时间</span>
        <input name="metatime" type="text" id="metatime" value="1" size="2" class="k_all-font"/>
        <span class="font2">秒</span></td>
    </tr>
	<tr align="center" bgcolor="#EBEBEB">
      <td height="28" colspan="3" background="images/title_bar_middle.jpg" bgcolor="#EBEBEB" scope="row"><span class="font1">文章内容</span></td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">标题</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">可用标签:<FONT style="CURSOR: hand" onclick="addTag('[title]')" alt="插入[标题]标签"><strong>[标题]</strong></font> <FONT style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></FONT></span></td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　<textarea name="title" cols="60" rows="5" class="k_all-font" id="textarea" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)"></textarea></td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">动画</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">可用标签:<font style="CURSOR: hand" onclick="addTag('[flash]')" alt="插入[内容]标签"><strong>[FLASH地址]</strong></font> <font style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></font></span></td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　
          <textarea name="flash" cols="60" rows="5" class="k_all-font" id="textarea2" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)"></textarea></td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">简介</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">可用标签:<FONT style="CURSOR: hand" onclick="addTag('[content]')" alt="插入[内容]标签"><strong>[FLASH地址]</strong></font> <FONT style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></FONT></span></td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　<textarea name="content" cols="60" rows="5" class="k_all-font" id="textarea2" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)"></textarea></td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">作者</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">可用标签:<FONT style="CURSOR: hand" onclick="addTag('[author]')" alt="插入[作者]标签"><strong>[作者]</strong></font> <FONT style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></FONT></span></td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　<textarea name="author" cols="60" rows="5" class="k_all-font" id="textarea3" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)"></textarea></td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">来源</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">可用标签:<FONT style="CURSOR: hand" onclick="addTag('[sourse]')" alt="插入[来源]标签"><strong>[来源]</strong></font> <FONT style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></FONT></span></td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　<textarea name="sourse" cols="60" rows="5" class="k_all-font" id="textarea4" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)"></textarea></td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">过滤</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">可用标签:<FONT style="CURSOR: hand" onclick="addTag('[filtrate]')" alt="插入[过滤]标签"><strong>[增加过滤]</strong></font> <font style="CURSOR: hand" onclick="addTag('[variable]')" alt="插入[变量]标签"><strong>[变量]</strong></font></span></td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　<textarea name="filtrate" cols="60" rows="5" class="k_all-font" id="filtrate" onfocus="getActiveText(this)" onchange="getActiveText(this)" onclick="getActiveText(this)"></textarea></td>
    </tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">COOKIE</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">请按照这样的格式写 cookiename=cookievalue 多个之间用，分开</span> </td>
    </tr>
    <tr>
      <td height="100" colspan="2" bgcolor="#FCFCFC">　<textarea name="cookie" cols="60" rows="5" class="k_all-font" id="cookie"></textarea></td></tr>
    <tr>
      <td rowspan="2" align="center" bgcolor="#EBEBEB" class="font2" scope="row">REFERER</td>
      <td height="24" colspan="2" bgcolor="#FCFCFC">　<span class="font2">原站的调用连接</span> </td>
    </tr>
    <tr>
      <td height="40" colspan="2" bgcolor="#FCFCFC">　<input name="referer" type="text" id="referer" size="62" class="k_all-font" /></td>
    </tr>
    <tr>
      <td height="40" align="center" bgcolor="#EBEBEB" class="font2" scope="row">UTF8</td>
      <td colspan="2" bgcolor="#FCFCFC" class="font2">　
        <input type="radio" name="isutf8" value="1" />
      是
      <input name="isutf8" type="radio" value="0" checked="checked" />
      不是 采集的目标页是不是UTF-8（UNICODE）的字符集</td>
    </tr>
    <tr>
      <td height="40" align="center" bgcolor="#EBEBEB" class="font2" scope="row">图片保存目录</td>
      <td colspan="2" bgcolor="#FCFCFC">　<input name="img_dir" type="text" class="k_all-font" id="img_dir" value="/" size="62" />
        <span class="font2">系统自动添加目录</span>
      <input name="iscreatedir" type="checkbox" id="iscreatedir" value="1" /></td>
    </tr>
    <tr>
      <td height="40" align="center" bgcolor="#EBEBEB" class="font2" scope="row">FLASH目录</td>
      <td colspan="2" bgcolor="#FCFCFC">　<input name="flash_dir" type="text" class="k_all-font" id="flash_dir" value="/" size="62"></td>
    </tr>
    <tr>
      <td height="40" colspan="3" align="left" bgcolor="#FFFFFF" class="font2" scope="row">目录说明：如果使用./ 代表小蜜蜂当前目录，那么采集完成以后，必须把图片目录移动到CMS/BBS对应目录，否则图片不能显示；如果使用/ 代表您域名的WEB根目录，可将保存目录直接设置为CMS/BBS的图片/附件目录，这样采集完成后无需移动图片/flash文件。</td>
    </tr>
    <tr>
      <td height="60" colspan="3" align="center" bgcolor="#FCFCFC" scope="row"><input name="Submit" type="submit" class="font2" onClick="return checkForm()" value="提交">
      　<input name="Submit2" type="reset" class="font2" value="重置"></td>
    </tr>
  </table>
</form>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FCFCFC" class="k_noup_-30">
  <tr>
    <td height="80"><div align="center">
      <table width="500" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="9" height="40" align="center" valign="middle" background="images/bg2_l.gif">&nbsp;</td>
          <td width="25" align="center" valign="middle" background="images/bg2_m.gif"><img src="images/arrow_l.gif" alt="1" width="23" height="23" /></td>
          <td align="center" valign="middle" background="images/bg2_m.gif" bgcolor="#FCFCFC"><div align="center" class="font2"><a href="http://bbs.downreg.com/index.php?gid=19" class="font2">BUG反馈、功能建议、使用帮助、商业合作 请访问 BC 官方技术支持论坛</a></div></td>
          <td width="25" align="center" valign="middle" background="images/bg2_m.gif"><img src="images/arrow_r.gif" alt="1" width="23" height="22" /></td>
          <td width="9" align="center" valign="middle" background="images/bg2_r.gif">&nbsp;</td>
        </tr>
      </table>
    </div></td>
  </tr>
</table>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="k_noup_-30">
  <tr>
    <td height="28" background="images/title_bar_middle.jpg">&nbsp;</td>
  </tr>
</table>
