<tr>
      <td align="center" bgcolor="#FFFFFF" scope="row" widtd="129"><input name="tables[]" type="checkbox" id="tables[]" value="{tablename}" {check}></td>
      <td align="center" bgcolor="#FFFFFF" scope="row" widtd="129">&nbsp;<span class="font2">{tablename}</span></td>
      <td align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;{rows}</td>
      <td align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;{data_length}</td>
      <td align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;{create_time}</td>
      <td align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;{update_time}</td>
      <td align="center" bgcolor="#FFFFFF" class="font2" scope="row" widtd="129">&nbsp;{comment}</td>
</tr>
