<link href="site_cn.css" rel="stylesheet" type="text/css" />
<title>Cookie获取 小蜜蜂采集器：文章采集、图片采集、Flash采集利器</title><table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60" align="center" bgcolor="#006697" class="biaoti30"><a href="http://www.downreg.com"></a>BeeCollector (小蜜蜂采集器)</td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="2" cellspacing="1">
  <tr>
    <td height="20" align="left" bgcolor="#C1E7FF">欢迎使用不受目标语言限制、不选存储对象数据库的在线采集器，Google、Baidu搜索排名第一，<font color="#FF0000">完全免费，放心使用</font><font color="#FF0000">　　<a href="http://bc.downreg.com/">&lt;&lt;&lt;返回首页</a></font></td>
  </tr>
  <tr>
    <td height="20" align="left" bgcolor="#C1E7FF" class="line110">BC为全职团队&quot;川铎软件：小蜜蜂采集器开发组&quot;专业开发产品,为您提供免费远程安装支持,若需获取支持请至<a href="http://bbs.downreg.com/index.php?gid=19">官方论坛</a>留言。</td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="5" align="center" valign="middle"></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="2" cellspacing="1" class="boxgray">
  <form action="getCookie.php?z={z}&amp;a={a}" method="post" name="form1" target="_blank" id="form1">
  <tr>
    <td height="20" colspan="3">在线Cookie获取，请按倒库规则说明文件输入</td>
    </tr>
  <tr>
    <td width="56">用户名</td>
    <td width="330"><input name="username" type="text" id="username" size="25" />&nbsp;</td>
    <td width="358">&nbsp;</td>
  </tr>
  <tr>
    <td>密　码</td>
    <td><input name="password" type="password" id="password" size="25" />
    &nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>登陆URL</td>
    <td><input name="url" type="text" id="url" value="http://" size="45" />
    &nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="Submit" value="提交" />&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </form>
</table>

<table width="760" border="0" align="center" cellpadding="2" cellspacing="2">
  <tr>
    <td width="160" rowspan="2" align="center"><a href="http://www.downreg.com"><img src="http://www.downreg.com/Images/logo/downreglogo.gif" alt="川铎电脑网" border="0" /></a></td>
    <td height="20" align="center" bgcolor="#006697"><a href="http://bbs.downreg.com/index.php?gid=19"><font color="#FFFFFF">BUG反馈、功能建议、使用帮助、商业合作 请访问 BC 官方技术支持论坛</font></a></td>
  </tr>
  <tr>
    <td height="20" align="center"><a href="http://bc.downreg.com/">Power By BC.DownReg.COM&copy; 　 </a><a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备05020520号</a>
</td>
  </tr>
</table>
